{% extends "base.html" %}
  {% block content %}
    {% include "header.html" %}

      <div class="border-bottom border-1 opacity-1"></div>
      <div class="container" style="padding-left: 40px;padding-right: 40px;">
        <div class="container custom-container" style="margin-top: 40px">

    </div>
      </div>
<style>
.custom-container{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 55px;
    padding-left: 55px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;"
}

</style>
  {% endblock %}