<p>
    <strong>Кратко о себе:</strong>
</p>

<p>
    Имею законченное среднеспециальное образование по специальности "техник-связи",
    в процессе получения высшего технического образования по специальности "инженер по телекоммуникациям".
    Имеются сертификаты курсов Cisco уровня CCNA, CCNA-Security и CCNP(ENCOR, ENARSI).
</p>
<p>
    Коммуникабельность, умение работать в команде, стрессоустойчивость, эмоциональная выдержка,
    многозадачность, технический английский, большой опыт общения с людьми (от пенсионеров
    до высоких должностных лиц, способен объяснить сложные вещи простыми словами),
    крепкое здоровье, без вредных превычек.
</p>

<p>
    <strong>Основные сведения:</strong>
</p>
<ul>
    <li>
        Более 3-х лет работы в сфере строительства систем телекоммуникаций,
        понимание спицифики работы при стоительстве и сдаче в эксплуатацию объектов связи(фиксированой и мобильной).
    </li>
    <li>
        Более 2-х лет работы по эксплуатации датацентров, начиная от маленького датацентра в 30 стоек,
        до датацентра в 300+ стоек. Понимаю принцип работы датацентров (каналы связи, электроснабжение,
        охлаждение, пожаротушение, мониторинг систем и т.д.).
    </li>
    <li>
        Опыт админисрирования мониторинга высоконагружженых систем (Zabbix, Observium, Icinga, Grafana).
        Так же имею опыт по разворачиванию в продуктив данных систем, и их настройке.
    </li>
    <li>
        Администрирование сетей на базе Cisco-Catalyst, Cisco-Nexus, Cisco-ASR(9000-series), Huawei, D-Link.
        Настройка тунелей, внутренней и внешней маршрутизации, L2 уровня, QOS, ip multicast и т.д.
        Работа с фаерволами компаний Palo alto, Cisco.
    </li>
    <li>
        Администрирование серверов на базе unix систем(Ubuntu, Debian, CentOS): разворачивание и настройка web-серверов,
        разворачивание приложений в docker-контейнерах, написание Dockerfile, и docker-compose файлов,
        написание bash и python скриптов, работа с iptables, работа с реляционными и нереляционными базами данных,
        разворачивание и настройка ELK-Stack и т.д.
    </li>
    <li>
        Понимание и опыт работы с системами виртуализации: VMware ESXi, Huawei FusionCompute, Proxmox.
    </li>
    <li>
        Знание, понимание и практическое использование ООП, шаблоны проектирования.
        Написание внутренних проектов компании на Python.
    </li>
    <li>
        Практический опыт по разворачиванию и настройке SIEM системы. Опыт работы в SOC.
    </li>
</ul>

<p>
    <strong>Профессиональные знания и навыки:</strong>
</p>
<ul>
    <li>
        Языки программирования: Python, C++, Bash, SQL.
    </li>
    <li>
        Сетевые технологии: BGP, BFD, MPSL, EIGRP, OSPF, MSTP, QoS, IP-Multicast, LISP, PBR(Зло!), ACL, AAA,
        TACACS+, RADIUS, NAT, PAT, IPSec, GRE, VxLAN, IPv4, IPv6, DHCP, NTP, LLDP/CDP, LACP/PAgP, HSRP/VRRP и т.д.
    </li>
    <li>
        Администрирование: Unix, Linux, Docker, Docker-compose, Docker swarm, Kubernetes, Ansible,
        ELS-Stack, Traefic, nginx, apache, и т.д.
    </li>
    <li>
        Библиотеки: Django, Django-REST.
    </li>
    <li>
        Сервисы: AWS, различные API(MISP, Yandex, Google).
    </li>
</ul>