<p>
    <strong>Кратко о себе:</strong>
</p>

<p>
    Имею законченное среднеспециальное образование по специальности "техник-связи",
    в процессе получения высшего технического образования по специальности "инженер по телекоммуникациям".
    Имеются сертификаты курсов Cisco уровня CCNA, CCNA-Security и CCNP(ENCOR, ENARSI).
</p>
<p>
    Коммуникабельность, умение работать в команде, стрессоустойчивость, эмоциональная выдержка,
    многозадачность, технический английский, большой опыт общения с людьми (от пенсионеров
    до высоких должностных лиц, способен объяснить сложные вещи простыми словами),
    крепкое здоровье, без вредных превычек.
</p>

<p>
    <strong>Основные сведения:</strong>
</p>
<ul>
    <li>
        <p>
        Более 3-х лет работы в сфере строительства систем телекоммуникаций,
        понимание спицифики работы при стоительстве и сдаче в эксплуатацию объектов связи(фиксированой и мобильной).
        </p>
    </li>
    <li><p>
        Более 2-х лет работы по эксплуатации датацентров, начиная от маленького датацентра в 30 стоек,
        до датацентра в 300+ стоек. Понимаю принципы работы датацентров (каналы связи, электроснабжение,
        охлаждение, пожаротушение, мониторинг систем и т.д.).
        </p>
    </li>

    <li>
        <p>
        Опыт админисрирования мониторинга высоконагружженых систем (Zabbix, Observium, Icinga, Grafana).
        Так же имею опыт по разворачиванию в продуктив данных систем, и их настройке.
        </p>
    </li>
    <li>
        <p>
        Администрирование сетей на базе Cisco-Catalyst, Cisco-Nexus, Cisco-ASR(9000-series), Huawei, D-Link.
        Настройка тунелей, внутренней и внешней маршрутизации, L2 уровня(STP, PVST, MSTP and etc.),
        QoS, ip multicast и т.д. Работа с фаерволами компаний Palo alto, Cisco.
        </p>
    </li>
    <li>
        <p>
        Администрирование серверов на базе unix систем(Ubuntu, Debian, CentOS): разворачивание и настройка web-серверов,
        разворачивание приложений в docker-контейнерах, написание Dockerfile, и docker-compose файлов,
        настройка CI/CD процессов, написание bash и python скриптов, работа с iptables, работа с реляционными и
        нереляционными базами данных, разворачивание и настройка ELK-Stack.
        </p>
    </li>
    <li>
        <p>
        Понимание "облачных" технологий и опыт работы с системами виртуализации: VMware ESXi, Huawei FusionCompute,
        Proxmox.
        </p>
    </li>
    <li>
        <p>
        Знание, понимание и практическое использование ООП, шаблоны проектирования.
        Написание внутренних проектов компании на Python.
        </p>
    </li>
    <li>
        <p>
        Практический опыт по разворачиванию и настройке SIEM системы. Опыт работы в SOC. Опыт работы в RED-Team.
        </p>
    </li>
</ul>

<p>
    <strong>Профессиональные знания и навыки:</strong>
</p>
<ul>
    <li>
        <p>
        Языки программирования: Python, C++, Bash.
        </p>
    </li>
    <li>
        <p>
        Сетевые технологии: BGP, BFD, MPSL, EIGRP, OSPF, MSTP, QoS, IP-Multicast, LISP, PBR(Зло!), ACL, AAA,
        TACACS+, RADIUS, NAT, PAT, IPSec, GRE, VxLAN, IPv4, IPv6, DHCP, NTP, LLDP/CDP, LACP/PAgP, HSRP/VRRP и т.д.
        </p>
    </li>
    <li>
        <p>
        Администрирование: Unix, Linux, Docker, Docker-compose, Swarm, Kubernetes, Ansible,
        ELS-Stack, Traefic, nginx, apache, и др.
        </p>
    </li>
    <li>
        <p>
        Библиотеки Python: Django, Django-REST.
        </p>
    </li>
    <li>
        <p>
        Сервисы: AWS, GCP, API(MISP, Yandex, Google, Elasticsearch).
        </p>
    </li>
</ul>