{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
<div class="border-bottom border-1 opacity-1"></div>
<div class="container" style="padding-left: 40px;padding-right: 40px;">
    <div class="container custom-container" style="margin-top: 40px">
        <div class="row">
            <div class="col-lg-3" >
                <div class="custom_img" >
                <img style="border-radius: 0.5rem;"
                     src="{{ topologies.image.topology_image.url }}">
                </div>
            </div>

    </div>
</div>
{% endblock %}