{% extends "base.html" %}
  {% block content %}

{% include "header.html" %}


{% include "core_posts/carousel.html" %}

{% include "core_posts/list_posts.html" %}

<style>
@media (max-width: 900px) {
    .simple button {
        display: none;
    }
}
@media (min-width: 900px) {
    .simple span {
        margin-right: 20px;
    }
}
h2 {

    font-size: 26px;
    line-height: 26px;
    font-weight: normal;

}
a {
    color: #444;
    text-decoration: none;

        text-decoration-style: solid;
        text-decoration-color: currentcolor;
        text-decoration-thickness: auto;
}
</style>
  {% endblock %}
