{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  {% include "header.html" %}
   <div class="border-bottom border-2 opacity-1"></div>


   <div class="container" style="padding-left: 100px;padding-right: 100px">
    <div class="container custom-container" style="margin-top: 40px;">

        <div class="row">
            <div class="col-lg-3" >
                <div class="custom_img" >
                <img class="rounded float-end" style="border-radius: 0.5rem; width: 100%" src="{{ profile.profile_photo.url }}" width="70%">
                    {{ form.profile_photo }}
                </div>
            </div>

            <div class="col-lg-9" style="background: rgba(17, 89, 234, 0.23); border-radius: 0.5rem">
                <div class="row">
                    <div class="col-sm-2"> <h1 style="margin-top: 20px">{{ profile.name }}</h1></div>
                    <div class="col-sm-4" style="margin-right: 280px;"><h5 style="margin-top: 20px;background: rgba(64,191,245,0.62);
                     border-radius: 0.5rem"><div style="margin-left: 5px">{{ profile.status }}</div></h5></div>

                    {{ form.name }}
                    {{ form.status }}
                </div>



                <div class="row">
                    <div class="col-sm-2"> <h5 style="margin-top: 5px">Age:</h5></div>
                    <div class="col-sm-4"><h5 style="margin-top: 5px"> {{ profile.bday }}</h5></div>
                    {{ form.bday }}
                </div>

                <div class="row">
                    <div class="col-sm-2"> <h5 style="margin-top: 5px">Gender:</h5></div>
                    <div class="col-sm-4"><h5 style="margin-top: 5px"> {{ profile.gender }}</h5></div>
                    {{ form.gender }}
                </div>

                <div class="row">
                    <div class="col-sm-2"> <h5 style="margin-top: 5px">About:</h5></div>
                    <div class="col-sm-7 " style="margin-top: 5px;"> {{ profile.about }}</div>
                    {{ form.about }}
                </div>
                <div class="col-sm-4"><a href="{% url 'update_profile' %}"><button type="button" class="btn btn-warning"
                    >Update profile setting</button></a></div>

            </div>

        </div>







    <div class="container" style="padding-left: 40px;padding-right: 40px;">
        <form method="get" class="">






        </form>
    </div>
{% endblock %}